/* header h1 { float: none; padding: 0; position: absolute; top: 35px; left: 50%; transform: translateX(-50%); }
header .left { padding: 52px 0 0 40px; }
header .all { display: block; position: relative; width: 32px; height: 18px; border-top: 2px solid #FFF; border-bottom: 2px solid #FFF; color: transparent; }
header .all::before { content: ''; position: absolute; left: 0; top: 50%; width: 100%; height: 2px; background: #FFF; margin-top: -1px; }
header .left > div { float: none; }
header > ul { padding: 40px 40px 0 0; }
header > ul li .con, .faq, .join { display: none; }
header > ul li a.join-m { display: block; border-radius: 50%; width: 40px; height: 40px; background: url(/IDB-images/header-img.png) no-repeat 3.4px -63px; }
header > ul li a { width: 80px; }

header .nav.on nav li { float: none; height: 130px; display: flex; }
header .nav.on nav li .dep2 li { height: 30px; position: relative; left: -45px; top: -25px; }
header .nav.on nav li .dep2 li { left: -60px; }
.rightErr { margin-left: 27px; }
.dep1 { font-size: 24px; overflow: hidden; opacity: .8;}

 */



/* Mobile Menu */
/* header .left > div > div,
header .close,
header .all,
header h2 { display: block; }
header .nav { position: absolute; top: 0; left: -120%; transition: left .7s; z-index: 101;  width: calc(100% - 32px); height: 100%; background: #FFF; padding: 15px 24px 15px 22px; box-sizing: border-box; }
header .nav.on { border-top: 1px solid #0091d0; }
header .nav.on { left: 0; }
header .nav.on nav { padding: 0 0 24px; border-top: 1px solid #0091d0; }
header .nav.on nav a { height: 40px; line-height: 40px; color: #111; }
header .nav.on nav a::before { display: none; }
header .nav.on nav li { float: none; border-bottom: 1px solid #EEE; }
header .nav.on div { display: flex; border:  1px solid #EEE; }
header .nav.on div a:first-child { border: none; }
header .nav.on div a { flex: 1; height: 30px; line-height: 30px; border-left: 1px solid #EEE; text-align: center; color: #666; font-size: 13px; font-weight: bold; }
header .nav.on .close { position: absolute; right: 24px; top: 24px;  width: 12px; height: 12px; color: transparent; }
header .nav.on .close::before { content: ''; position: absolute; top: 0; left: 46%; width: 1px; height: 100%; background: #5A5A5A; transform: rotate(45deg);}
header .nav.on .close::after { content: ''; position: absolute; top: 0; right: 45%; width: 1px; height: 100%; background: #5A5A5A; transform: rotate(-45deg);}
header h2 { margin: 0 0 75px 0; width: 82px; height: 31px; background: url(/IDB-images/IDB-LOGO.png) no-repeat 0; color: transparent; }
.dim { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 100; background: rgba(0, 0, 0, .5); } */



header h1 { float: none; padding: 0; position: absolute; top: 30px; left: 50%; transform: translateX(-50%); position: fixed; }
header h1 a { display: block; width: 147px; height: 16px; background: url(/images/header-img.png) no-repeat -120px -75px; z-index: 9999; }
header .left { padding: 52px 0 0 40px; }
header .all { top: 30px; left: 20px; display: block; position: fixed; width: 23px; height: 15px; border-top: 1px solid #FFF; border-bottom: 1px solid #FFF; color: transparent; }
header .all::before { content: ''; position: absolute; left: 0; top: 50%; width: 100%; height: 1px; background: #FFF; margin-top: -1px; }
header .left > div { float: none; }
header > ul { padding: 23px 20px 0 0; }
header > ul li .con, .faq, .join { display: none; }
header > ul li.join { display: block; }
header > ul li a { width: 80px; }
header > ul li a.join-m { display: block; border-radius: 50%; width: 25px; height: 25px; background: url(/images/header-img.png) no-repeat -4.5px -70px; }
.navbg { height:72px; }
header .nav { height: 50px; cursor: pointer; }
header .nav:hover { background: transparent; height: 0%; }

/* Mobile Menu */
nav { display: none; }

/* MAIN TITLE */
.main_title { position: absolute; left: 50%; bottom: 35%; transform: translate(-50%,-50%); line-height: 40px; text-align: center; }
.main_title_top { font-size: 10px; color: #FFF; letter-spacing: 0px; font-family: 'GmarketSansLight'; }
.main_title_bottom { font-size: 30px; font-weight: bold; color: #FFF; line-height: 50px; letter-spacing: -3px; font-family: 'GmarketSansBold'; }

/* ============= (1) stats */
.section_stats > .stats_content01 { position: relative; width: 100%; height: 200px; overflow: hidden; }

.section_stats>.stats_content01 h2 { width: 100%; font-size: 13px; font-weight: bold; color: #FFF; letter-spacing: -1px; font-family: 'GmarketSansLight'; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }

/* ============= (2) stats */

.section_stats > .stats_content02 { position: relative; width: 100%; height: 200px; overflow: hidden; margin-top: 100px; }

.stats_content02 img { height: 400px; border-radius: 50%; margin-left: 200px;}
.stats_content02 p { font-size: 20px; font-weight: bold; color: rgb(129, 148, 253); letter-spacing: -1px; font-family: 'GmarketSansBold'; text-align: center; position: absolute; top: 0; left: 0; }
.stats_content02 h2 { width: 100%; font-size: 15px; font-weight: bold; color: #FFF; letter-spacing: 0px; font-family: 'GmarketSansBold'; line-height: 30px; text-align: left; position: absolute; top: 8%; left: 30px; transform: translateY(-50%); margin-top: 30px; }

/* ============= (3) stats */

.section_stats > .stats_content03 { position: relative; width: 100%; height: 200px; overflow: hidden; margin-top: 100px; }

.stats_content03 img { height: 400px; border-radius: 50%; margin-right: -110px;}
.stats_content03 p { font-size: 20px; font-weight: bold; color: rgb(129, 148, 253); letter-spacing: -1px; font-family: 'GmarketSansBold'; text-align: center; position: absolute; top: 0; left: -94px; }
.stats_content03 h2 { width: 100%; font-size: 15px; font-weight: bold; color: #FFF; letter-spacing: 0px; font-family: 'GmarketSansBold'; line-height: 30px; text-align: left; position: absolute; top: 8%; left: -166px; transform: translateY(-50%); margin-top: 30px; }

/* ============= (4) stats */

.section_stats > .stats_content04 { position: relative; width: 100%; height: 200px; overflow: hidden; margin-top: 100px; }

.stats_content04 img {  height: 400px; border-radius: 50%; margin-left: 200px;}
.stats_content04 p { font-size: 20px; font-weight: bold; color: rgb(129, 148, 253); letter-spacing: -1px; font-family: 'GmarketSansBold'; text-align: center; position: absolute; top: 0; left: 0; }
.stats_content04 h2 { width: 100%; font-size: 15px; font-weight: bold; color: #FFF; letter-spacing: 0px; font-family: 'GmarketSansBold'; line-height: 30px; text-align: left; position: absolute; top: 8%; left: 30px; transform: translateY(-50%); margin-top: 30px; }

/* ============= (5) stats */

.section_stats > .stats_content05 { position: relative; width: 100%; height: 200px; overflow: hidden; margin-top: 200px; }

.stats_content05 p { font-size: 20px; font-weight: bold; color: rgb(129, 148, 253); letter-spacing: -1px; font-family: 'GmarketSansBold'; text-align: center; position: absolute; top: 0; left: 0; margin-left: 50px; }
.stats_content05 #coFff { margin-top: 30px; font-size: 16px; font-weight: bold; color: #FFF; letter-spacing: 0px; font-family: 'GmarketSansBold'; text-align: center; position: absolute; top: 0; left: 0; margin-left: 50px; }

.content_item { display: none; }

/* ============= (6) stats */
/* 반응형 (6) stats cols는 flippingCards.css에서 수정가능 */


/*  ============= scroll */

.scroll { display: none; }

/* ============= (6) stats */
.stats_content06 { margin-top: 0; }
.stats_content06 p {
    font-size: 30px;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    margin: 150px 0 0 -193px;
}

/* ============= Flipping Cards BG */

.background { display: none; }

/* ============= Consultation */
.consultation h1 { font-size: 30px; padding-top: 50px; }
.consultation > .consultation_container > .consultation_contact {  left: 50%; transform: translateX(-50%); width: 85px; height: 85px; top: 580px; }
.consultation > .consultation_container > .consultation_content01 { left: 30%; height: 85px; margin-left: 150px; }
.consultation > .consultation_container > .consultation_content02 { left: 30%; height: 85px; margin-left: 150px; }
.consultation > .consultation_container > .consultation_content03 { left: 30%; height: 85px; margin-left: 150px; }
.consultation > .consultation_container > .consultation_content04 { left: 30%; height: 85px; margin-left: 150px; }
.consultation > .consultation_container > .consultation_content01 span { left: 30%; height: 75px; }
.consultation > .consultation_container > .consultation_content02 span { left: 30%; height: 75px; }
.consultation > .consultation_container > .consultation_content03 span { left: 30%; height: 75px; }
.consultation > .consultation_container > .consultation_content04 span { left: 30%; height: 75px; }
.consultation > .consultation_container > .consultation_content01 h3 { font-size: 18px; margin: 18px 0 0 170px; }
.consultation > .consultation_container > .consultation_content02 h3 { font-size: 18px; margin: 18px 0 0 170px; }
.consultation > .consultation_container > .consultation_content03 h3 { font-size: 18px; margin: 18px 0 0 170px; }
.consultation > .consultation_container > .consultation_content04 h3 { font-size: 18px; margin: 18px 0 0 170px; }
.consultation > .consultation_container > .consultation_content01 h4 { font-size: 14px; margin: 45px 0 0 170px; }
.consultation > .consultation_container > .consultation_content02 h4 { font-size: 14px; margin: 45px 0 0 170px; }
.consultation > .consultation_container > .consultation_content03 h4 { font-size: 14px; margin: 45px 0 0 170px; }
.consultation > .consultation_container > .consultation_content04 h4 { font-size: 14px; margin: 45px 0 0 170px; }

/* ============= Footer */

footer { bottom: -5100px; } 

.footer_con1 { flex-direction: column; }
.footer_con2 { width: 416px; height: 440px; margin: 15px 0 0 15px; }
.footer_con3 { width: 416px; height: 440px; margin: 15px 0 0 15px; }
.footer_con4 { width: 416px; height: 440px; margin: 15px 0 0 15px; }

.footer_con1 h2 { color: rgba(255, 255, 255, 1); font-size: 15px; }
.footer_con1 p { color: rgba(255, 255, 255, 1); font-size: 8px; }

.footer_con2 > .footer_con2_item01,
.footer_con2 > .footer_con2_item02,
.footer_con3 > .footer_con3_item01,
.footer_con3 > .footer_con3_item02,
.footer_con4 > .footer_con4_item01 { padding: 15px 0 0 15px; }

.footer_con2 > .footer_con2_item01 h3,
.footer_con2 > .footer_con2_item02 h3,
.footer_con3 > .footer_con3_item01 h3,
.footer_con3 > .footer_con3_item02 h3,
.footer_con4 > .footer_con4_item01 h3 { font-size: 20px; }

.footer_con2 > .footer_con2_item01 a,
.footer_con2 > .footer_con2_item02 a,
.footer_con3 > .footer_con3_item01 a,
.footer_con3 > .footer_con3_item02 a,
.footer_con4 > .footer_con4_item01 a { font-size: 12px; line-height: 25px; }

.footer_con4 > .footer_con4_item02  span { font-size: 10px; line-height: -20px; }
.footer_con4 > .footer_con4_item02 { font-size: 10px; line-height: 5px; }

.consultation>.consultation_container > .consultation_contact:hover { top: 83%; }

@media screen and (max-width:1250px) {
    .consultation > .consultation_container > .consultation_content01 h3 { font-size: 15px; margin: 18px 0 0 170px; }
    .consultation > .consultation_container > .consultation_content02 h3 { font-size: 15px; margin: 18px 0 0 170px; }
    .consultation > .consultation_container > .consultation_content03 h3 { font-size: 15px; margin: 18px 0 0 170px; }
    .consultation > .consultation_container > .consultation_content04 h3 { font-size: 15px; margin: 18px 0 0 170px; }
    .consultation > .consultation_container > .consultation_content01 h4 { font-size: 10px; margin: 45px 0 0 170px; }
    .consultation > .consultation_container > .consultation_content02 h4 { font-size: 10px; margin: 45px 0 0 170px; }
    .consultation > .consultation_container > .consultation_content03 h4 { font-size: 10px; margin: 45px 0 0 170px; }
    .consultation > .consultation_container > .consultation_content04 h4 { font-size: 10px; margin: 45px 0 0 170px; }
}

@media screen and (max-width:1000px) {
    .consultation>.consultation_container>.consultation_content01 { width: 400px; margin-left: 0px; left: 50%; transform: translateX(-50%); }
    .consultation>.consultation_container>.consultation_content02 { width: 400px; margin-left: 0px; left: 50%; transform: translateX(-50%); }
    .consultation>.consultation_container>.consultation_content03 { width: 400px; margin-left: 0px; left: 50%; transform: translateX(-50%); }
    .consultation>.consultation_container>.consultation_content04 { width: 400px; margin-left: 0px; left: 50%; transform: translateX(-50%); }
    .consultation > .consultation_container > .consultation_content01 h3 { margin-left: 150px; }
    .consultation > .consultation_container > .consultation_content02 h3 { margin-left: 150px; }
    .consultation > .consultation_container > .consultation_content03 h3 { margin-left: 150px; }
    .consultation > .consultation_container > .consultation_content04 h3 { margin-left: 150px; }
    .consultation > .consultation_container > .consultation_content01 h4 { margin-left: 150px; }
    .consultation > .consultation_container > .consultation_content02 h4 { margin-left: 150px; }
    .consultation > .consultation_container > .consultation_content03 h4 { margin-left: 150px; }
    .consultation > .consultation_container > .consultation_content04 h4 { margin-left: 150px; }
    .stats_content06 p { left: 50%; transform: translateX(-50%); }
    .consultation>.consultation_container > .consultation_contact:hover { top: 73%; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; background: #252525;  }
}

@media screen and (max-width:768px) { footer { bottom: -5400px; } }

@media screen and (max-width:880px) {
    body { height: 100vh; }

    .cols { margin-bottom: 200px; }

    .footer_con1 h2 { color: rgba(255, 255, 255, 1); font-size: 23px; margin-left: 35px; }
    .footer_con1 p { color: rgba(255, 255, 255, 1); font-size: 12px; margin-left: 35px; }
    .footer_con1 span { color: rgba(255, 255, 255, 1); font-size: 12px; margin-left: 35px; }

    .footer_con2 > .footer_con2_item01,
    .footer_con2 > .footer_con2_item02,
    .footer_con3 > .footer_con3_item01,
    .footer_con3 > .footer_con3_item02,
    .footer_con4 > .footer_con4_item01 { padding: 35px 0 0 35px; }

    .footer_con2 > .footer_con2_item01 h3,
    .footer_con2 > .footer_con2_item02 h3,
    .footer_con3 > .footer_con3_item01 h3,
    .footer_con3 > .footer_con3_item02 h3,
    .footer_con4 > .footer_con4_item01 h3 { font-size: 25px; }

    .footer_con2 > .footer_con2_item01 a,
    .footer_con2 > .footer_con2_item02 a,
    .footer_con3 > .footer_con3_item01 a,
    .footer_con3 > .footer_con3_item02 a,
    .footer_con4 > .footer_con4_item01 a { font-size: 20px; line-height: 25px; }

    .footer_con4 > .footer_con4_item02  span { font-size: 13px; line-height: -20px; }
    .footer_con4 > .footer_con4_item02 { padding: 15px 0 0 35px; font-size: 13px; line-height: 15px; }
}

.consultation>.consultation_container > .consultation_contact { width: 400px; top: 520px; }

/* ============= Footer */

footer { flex-direction:column; height: 1900px; justify-content: center; align-items: center; }

.footer_con1 { height: 150px; }
