.modal { position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); border: 1px solid #000; border-radius: 10px; z-index: 9999999; background: #FFF; width: 1000px; max-width: 80%; display: none; }
.modal.active { transform: translate(-50%, -50%) }
.modal-header { padding: 10px 15px; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #000; }
.modal-header .modal-title { font-size: 22px; font-family: 'GmarketSansBold'; padding-top: 5px; }
.modal-header .close-button { cursor: pointer; border: none; outline: none; background: none; font-size: 30px; }
.modal-body { padding: 10px 15px; }