.modal { position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 9999999; width: 1000px; max-width: 80%; display: none;color: #fff; }
.modal.active { transform: translate(-50%, -50%) }
.modal-header { padding: 10px 15px; display: flex; justify-content: space-between; align-items: center;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(55px);
}
.modal-header .modal-title { font-size: 22px; font-family: 'GmarketSansBold'; padding-top: 5px; }
.modal-header .close-button { cursor: pointer; border: none; outline: none; background: none;color: #fff; font-size: 30px; }
.modal-body { padding: 10px 15px; font-family: 'GmarketSansBold';
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(55px);
}
.modal-body>p {text-align: center;margin-top: 20px;}
.modal-body>form>span {margin-top: 25px;}
.modal-body>form>input[type="text"],#types {width: 100%;color: hsl(0, 0, 20);padding: 10px;border-radius: 5px;font-size: 15px;outline: none!important;box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);margin-bottom: 15px;}
button.cs_suport_btn{font-family: 'GmarketSansBold';font-size:30px;width: 30%;height: 90px;position:absolute ;bottom:15px;right:15px }

.modal-body .suport_des { font-size: 20px; margin: 30px 0 0 0; }
.modal-body .cs_contact_form { padding: 30px; }
.modal-body .cs_suport_btn { margin: 0 30px 30px 0; border-radius: 5px; }



