.nav-m { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background: #FFF; z-index: 99999; }
.nav-m > .close { position: absolute; width: 35px; height: 35px; top: 20%; left: 50%; transform: translate(-50%,-50%); background: url(/images/header-img.png) no-repeat -36px -63px; z-index: 9999; }


.dep1-m { display: flex; width: 100%; height: 550px; position: absolute; bottom: 15%; }
.dep1-m h2 { margin: 0 auto; font-size: 45px; font-family: 'GmarketSansBold'; height: 200px; }
.dep1-m h2:nth-child(1) { margin-top: -10px; }
.dep1-m h2:nth-child(3) { margin-top: -10px; }
.dep1-m h2:nth-child(5) { margin-top: -10px; }

.dep2-m { width: 100%; height: 300px; position: absolute; top: 12%; display: flex; }
.dep2-m ul { text-decoration: none; text-align: left; margin: 0 54.7031px; border-top: 1px solid #AAA; }
.dep2-m ul:nth-child(1) { width: 236.69px; }
.dep2-m ul:nth-child(2) { width: 206.97px; }
.dep2-m ul:nth-child(3) { width: 275.89px; }
.dep2-m ul:nth-child(4) { width: 206.78px; }
.dep2-m ul:nth-child(5) { width: 421.55px; }

.dep2-m ul > li:nth-child(1) { margin-top: 60px; }

.dep2-m ul > li > a { color: #111; font-size: 25px; font-family: 'GmarketSansLight'; transition: all .3s; }
.dep2-m ul > li > a:hover { color: #5AE; padding-left: 10px; }

.sub_dep { width: 100%; height: 50px; display: flex; position: absolute; bottom: 5%; left: 50%; transform: translate(-50%,-50%); }
.sub_dep a { width: 100%; color: #000; text-align: center; border: .5px solid #000; border-radius: 5px; margin: 10px; transition: all .5s; font-family: 'GmarketSansLight'; cursor: pointer; }
.sub_dep a:nth-child(1) { padding-top: 2px; }
.sub_dep a:nth-child(2) { padding-top: 5px; }
.sub_dep a:hover { background: #5AE; border: none; color: #FFF; }


@media screen and (max-width:1570px) {
    .dep1-m h2 { font-size: 30px; }
    .dep1-m h2:nth-child(1) { margin-top: -7px; }
    .dep1-m h2:nth-child(3) { margin-top: -7px; }
    .dep1-m h2:nth-child(5) { margin-top: -7px; }
    .dep2-m ul { margin: 0 65.4375px; }
    .dep2-m ul > li > a { font-size: 18px; }
}

@media screen and (max-width:1120px) {
    .dep1-m h2 { font-size: 20px; }
    .dep1-m h2:nth-child(1) { margin-top: -5px; }
    .dep1-m h2:nth-child(3) { margin-top: -5px; }
    .dep1-m h2:nth-child(5) { margin-top: -5px; }
    .dep2-m ul { margin: 0 50.3906px; }
    .dep2-m ul > li > a { font-size: 12px; }
}

@media screen and (max-width:720px) {
    .nav-m > .close { top: 10%; }
    .dep1-m { flex-direction: column; top: 20%; }
    .dep1-m h2 { padding-bottom: 100px; }
    .dep2-m { margin-top: 60px; flex-direction: column; justify-content: center; align-items: center; }
    .dep2-m ul { margin: 0 auto; text-align: center; border: none; }
}