header h1 { float: none; padding: 0; position: fixed; top: 35px; left: 50%; transform: translateX(-50%); }
header h1 a { z-index: 0; }
header .left { padding: 52px 0 0 40px; }
header .all { display: block; position: fixed; width: 32px; height: 18px; border-top: 2px solid #FFF; border-bottom: 2px solid #FFF; color: transparent; }
header .all::before { content: ''; position: absolute; left: 0; top: 50%; width: 100%; height: 2px; background: #FFF; margin-top: -1px; }
header .left > div { float: none; }
header > ul { padding: 40px 40px 0 0; }
header > ul li .con, .faq, .join { display: none; }
header > ul li.join { display: block; }
header > ul li a { width: 80px; }
header > ul li a.join-m { display: block; border-radius: 50%; width: 40px; height: 40px; background: url(/IDB-images/header-img.png) no-repeat 3.4px -63px; }
.navbg { height:125px; }
header .nav { padding-left: 0px;}

/* Mobile Menu */
/* header { display: none; } */
nav { display: none; }
header .nav:hover { background: #000; height: 0px; }


/* MAIN TITLE */
.main_title { position: absolute; left: 50%; bottom: 30%; transform: translate(-50%,-50%); line-height: 55px; text-align: center; }
.main_title_top { font-size: 15px; color: #FFF; letter-spacing: -1px; font-family: 'GmarketSansLight'; }
.main_title_bottom { font-size: 60px; font-weight: bold; color: #FFF; line-height: 80px; letter-spacing: -3px; font-family: 'GmarketSansBold'; }

/* ============= (1) stats */
.section_stats > .stats_content01 { position: relative; width: 100%; height: 500px; overflow: hidden; }

.section_stats > .stats_content01 h2 { width: 100%; font-size: 25px; font-weight: bold; color: #FFF; letter-spacing: -2px; font-family: 'GmarketSansBold'; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }

/* ============= (2) stats */

.section_stats > .stats_content02 { position: relative; width: 100%; height: 500px; overflow: hidden; margin-top: 200px; }

.stats_content02 img { border-radius: 50%; margin-left: 200px;}
.stats_content02 p { font-size: 40px; font-weight: bold; color: rgb(129, 148, 253); letter-spacing: -2px; font-family: 'GmarketSansBold'; text-align: center; position: absolute; top: 0%; right: 0; margin-right: 200px; }
.stats_content02 h2 { font-size: 20px; font-weight: bold; color: #FFF; letter-spacing: -1px; font-family: 'GmarketSansBold'; line-height: 50px; text-align: left; position: absolute; top: 30%; right: 0; transform: translateY(-50%); margin-left: 50px; }

/* ============= (3) stats */

.section_stats > .stats_content03 { position: relative; width: 100%; height: 500px; overflow: hidden; margin-top: 200px; }

.stats_content03 img { float: right; border-radius: 50%; margin-right: 200px;}
.stats_content03 p { font-size: 40px; font-weight: bold; color: rgb(129, 148, 253); letter-spacing: -2px; font-family: 'GmarketSansBold'; text-align: center; position: absolute; top: 0%; left: 0; margin-left: 200px; }
.stats_content03 h2 { font-size: 20px; font-weight: bold; color: #FFF; letter-spacing: -1px; font-family: 'GmarketSansBold'; line-height: 50px; text-align: left; position: absolute; top: 30%; left: 0; transform: translateY(-50%); margin-right: 50px; }

/* ============= (4) stats */

.section_stats > .stats_content04 { position: relative; width: 100%; height: 500px; overflow: hidden; margin-top: 200px; }

.stats_content04 img { border-radius: 50%; margin-left: 200px;}
.stats_content04 p { font-size: 40px; font-weight: bold; color: rgb(129, 148, 253); letter-spacing: -2px; font-family: 'GmarketSansBold'; text-align: center; position: absolute; top: 0%; right: 0; margin-right: 200px; }
.stats_content04 h2 { font-size: 20px; font-weight: bold; color: #FFF; letter-spacing: -1px; font-family: 'GmarketSansBold'; line-height: 50px; text-align: left; position: absolute; top: 30%; right: 0; transform: translateY(-50%); margin-left: 50px; }

/* ============= (5) stats */

.section_stats > .stats_content05 { position: relative; width: 100%; height: 500px; overflow: hidden; margin-top: 200px; }

.stats_content05 p { font-size: 40px; font-weight: bold; color: rgb(129, 148, 253); letter-spacing: -2px; font-family: 'GmarketSansBold'; text-align: center; position: absolute; top: 0%; left: 0; margin-left: 50px; }
.stats_content05 #coFff { margin-top: 50px; font-size: 30px; font-weight: bold; color: #FFF; letter-spacing: -1px; font-family: 'GmarketSansBold'; text-align: center; position: absolute; top: 0%; left: 0; margin-left: 50px; }

.content_item { display: none; }


/* ============= (6) stats */
.stats_content06 { margin-top: 0; }
.stats_content06 p {
    font-size: 30px;
    top: 9%;
    left: 0;
    justify-content: center;
    align-items: center;
    margin: 150px 0 0 240px;
}

/* ============= Flipping Cards BG */

.background { display: none; }

/* ============= Consultation */
.consultation h1 { font-size: 30px; padding-top: 50px; }
.consultation > .consultation_container > .consultation_contact { width: 75px; height: 430px; top: 280px; left: 75%; }
.consultation > .consultation_container > .consultation_content01 { left: 30%; height: 85px; margin-left: 150px; }
.consultation > .consultation_container > .consultation_content02 { left: 30%; height: 85px; margin-left: 150px; }
.consultation > .consultation_container > .consultation_content03 { left: 30%; height: 85px; margin-left: 150px; }
.consultation > .consultation_container > .consultation_content04 { left: 30%; height: 85px; margin-left: 150px; }
.consultation > .consultation_container > .consultation_content01 span { left: 30%; height: 75px; }
.consultation > .consultation_container > .consultation_content02 span { left: 30%; height: 75px; }
.consultation > .consultation_container > .consultation_content03 span { left: 30%; height: 75px; }
.consultation > .consultation_container > .consultation_content04 span { left: 30%; height: 75px; }
.consultation > .consultation_container > .consultation_content01 h3 { font-size: 18px; margin: 18px 0 0 170px; }
.consultation > .consultation_container > .consultation_content02 h3 { font-size: 18px; margin: 18px 0 0 170px; }
.consultation > .consultation_container > .consultation_content03 h3 { font-size: 18px; margin: 18px 0 0 170px; }
.consultation > .consultation_container > .consultation_content04 h3 { font-size: 18px; margin: 18px 0 0 170px; }
.consultation > .consultation_container > .consultation_content01 h4 { font-size: 14px; margin: 45px 0 0 170px; }
.consultation > .consultation_container > .consultation_content02 h4 { font-size: 14px; margin: 45px 0 0 170px; }
.consultation > .consultation_container > .consultation_content03 h4 { font-size: 14px; margin: 45px 0 0 170px; }
.consultation > .consultation_container > .consultation_content04 h4 { font-size: 14px; margin: 45px 0 0 170px; }

/* ============= Footer */

.footer_con1 { width: 500px; height: 440px; margin: 150px 0 0 15px; line-height: 40px; }
.footer_con2 { width: 416px; height: 440px; margin: 15px 0 0 15px; }
.footer_con3 { width: 416px; height: 440px; margin: 15px 0 0 15px; }
.footer_con4 { width: 416px; height: 440px; margin: 15px 0 0 15px; }

.footer_con1 h2 { color: rgba(255, 255, 255, 1); font-size: 15px; }
.footer_con1 p { color: rgba(255, 255, 255, 1); font-size: 8px; }

.footer_con2 > .footer_con2_item01,
.footer_con2 > .footer_con2_item02,
.footer_con3 > .footer_con3_item01,
.footer_con3 > .footer_con3_item02,
.footer_con4 > .footer_con4_item01 { padding: 15px 0 0 15px; }

.footer_con2 > .footer_con2_item01 h3,
.footer_con2 > .footer_con2_item02 h3,
.footer_con3 > .footer_con3_item01 h3,
.footer_con3 > .footer_con3_item02 h3,
.footer_con4 > .footer_con4_item01 h3 { font-size: 20px; }

.footer_con2 > .footer_con2_item01 a,
.footer_con2 > .footer_con2_item02 a,
.footer_con3 > .footer_con3_item01 a,
.footer_con3 > .footer_con3_item02 a,
.footer_con4 > .footer_con4_item01 a { font-size: 12px; line-height: 25px; }

.footer_con4 > .footer_con4_item02  span { font-size: 10px; line-height: -20px; }
.footer_con4 > .footer_con4_item02 { font-size: 10px; line-height: 5px; }

